// main

$text: #3E3E3E;
$background-color: #FFFFFF;
$icon-color: #696969;
$button-color: #FAD34F;

// колобочки :D it's just a joke, color of funny smiles

$big-smile: #F472B7;
$small-smile: #FAD34F;
$worm: #46EBB0;

// footer 

$footer-color:  #FAFAFA;
$border: #D8D8D8;