@import '../../styles/var.scss';

.footer {
    display: flex;
    justify-content: space-between;
    background-color: $footer-color;
    height: 200px;
    border: 1px solid $border;

        &__pink {
            width: 24%;
            height: 100%;
            background-color: $big-smile;
        }

             &__social { 
                text-decoration: none;
                width: 100%;
                display: flex;
                align-items: center;
                 a {
                display: block;
                color: $icon-color;
                margin-left: 1.5rem;
                
                }
            }

            &__smiles {
                    width: 24%;
                    height: 100%;
                    display: flex;
                    
                    &-first {
                        background-color: $worm;
                        width: 50%;
                    }
                    &-second {
                        background-color: $small-smile;
                        width: 50%;
                    }
            }
}